@page "/developer/edit/{developerId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
@using CRUDPOC.Shared.Dto;
@using CRUDPOC.Shared.Helper;

<h3>Edit</h3>
<Form ButtonText="Update" dev="dev"
      OnValidSubmit="@EditDeveloper" />
@code {
    [Parameter] public int developerId { get; set; }
    ServiceResult<DeveloperDto> dev = new ServiceResult<DeveloperDto>(new DeveloperDto());
    protected async override Task OnParametersSetAsync()
    {
        dev = await http.GetFromJsonAsync<ServiceResult<DeveloperDto>>($"api/developer/{developerId}");
    }
    async Task EditDeveloper()
    {
        await http.PutAsJsonAsync("api/developer", dev);
        await js.InvokeVoidAsync("alert", $"Updated Successfully!");
        uriHelper.NavigateTo("developer");
    }
}