@page "/developer/create"
@inject HttpClient http
@inject NavigationManager uriHelper
@using CRUDPOC.Shared.Dto;
@using CRUDPOC.Shared.Helper;

<h3>Create</h3>
<Form ButtonText="Create Developer" dev="@dev"
      OnValidSubmit="@CreateDeveloper" />
@code {
    ServiceResult<DeveloperDto> dev = new ServiceResult<DeveloperDto>(new DeveloperDto());
    async Task CreateDeveloper()
    {
        var awaiuter = await http.PostAsJsonAsync("api/developer", dev.Data);
        uriHelper.NavigateTo("developer");
    }
}